
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

      <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top:10px">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Bereavement Support Payment</h1>

            <p class="govuk-body">Bereavement Support Payment provides financial support to people
            for a period after the death of a husband, wife or civil partner.</p>

            <p>You can claim it if:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>you are under State Pension age</li>
              <li>you ordinarily live in the United Kingdom (UK), a country with which
              we have an agreement to pay certain UK benefits (a reciprocal
              agreement), or another EU or EEA country</li>
              <li>the person who died paid enough National Insurance contributions</li>
            </ul>

            <p class="govuk-body">Applying takes around 30 minutes.</p>

            <a href="consent" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
              Start now
            </a>

            <h2 class="govuk-heading-m">Before you start</h2>

            <p>You need:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>the date your husband, wife or civil partner died</li>
              <li>your husband's, wife's or civil partner's National Insurance number</li>
              <li>your bank details</li>
              <li>your marriage or civil partnership certificate</li>
            </ul>

          <div class="govuk-grid-column-one-third">

          </div>
        </div>
      </main>


{% endblock %}
